#include <windows.h>
#include "resource.h"

IDD_DIALOG2 DIALOGEX 0, 0, 276, 183
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Робота2"
FONT 8, "MS Sans Serif"
BEGIN
DEFPUSHBUTTON   "Next", IDC_BUTTON_NEXT, 209, 7, 50, 14
PUSHBUTTON      "Cancel", IDC_BUTTON_CANCEL, 209, 24, 50, 14
EDITTEXT        IDC_EDIT1, 7, 7, 194, 14, ES_AUTOHSCROLL
LISTBOX         IDC_LIST1, 7, 24, 194, 150, LBS_STANDARD
END

IDD_DIALOG3 DIALOGEX 0, 0, 276, 183
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Робота2 - Список"
FONT 8, "MS Sans Serif"
BEGIN
DEFPUSHBUTTON   "Back", IDC_BUTTON_BACK, 209, 7, 50, 14
PUSHBUTTON      "Cancel", IDC_BUTTON_CANCEL, 209, 24, 50, 14
LISTBOX         IDC_LIST1, 7, 7, 194, 150, LBS_STANDARD
END
