#include <windows.h>
#include "resource.h"

IDD_DIALOG1 DIALOGEX 0, 0, 276, 183
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Робота1"
FONT 8, "MS Sans Serif"
BEGIN
DEFPUSHBUTTON   "OK", IDC_BUTTON_OK, 209, 7, 50, 14
PUSHBUTTON      "Cancel", IDC_BUTTON_CANCEL, 209, 24, 50, 14
CONTROL         "", IDC_SCROLLBAR1, "msctls_trackbar32", TBS_HORZ | WS_TABSTOP, 7, 7, 194, 14
EDITTEXT        IDC_EDIT1, 7, 24, 194, 14, ES_AUTOHSCROLL | ES_READONLY
END
